@font-face {
  font-family: "Blue Vinyl";
  src: url("/src/assets/font/blue_vinyl.woff") format("woff");
  src: url("/src/assets/font/blue_vinyl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
