// colors
$color-primary: #1877f2;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #000000;
$color-second: #737373;
$color-red: #ff3040;
$border-color: #dbdbdb;

// layout
$border-radius: 12px;
$max-width: 484px;
